@using WebApplication1.Models.CustomModel
@model HomeViewModel


<div class="modal-header">
    <h4 class="modal-title">Assigned User</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <div class="form-group">
        <label for="selectPerson">Name</label>
        @Html.DropDownListFor(model => model.selectPersonId, new SelectList(Model.PersonList, "Id", "FirstName"), "Select a user", new { @class = "form-control", id = "selectPerson" })
        @Html.ValidationMessageFor(model => model.selectPersonId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="selectMultipleMovieIds">Movies</label>
        <div class="select2-primary">
            @Html.ListBoxFor(model => model.selectMultipleMovieIds, new MultiSelectList(Model.MovieSelectionList, "Id", "Name"), new { @class = "select2", multiple = "multiple", style = "width: 100%", id = "selectMultipleMovieIds" })
            @Html.ValidationMessageFor(model => model.selectMultipleMovieIds, "", new { @class = "text-danger" })
        </div>
    </div>


</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-outline-light" id="registerMovie">Register</button>
</div>

<script src="~/lib/plugins/toastr/toastr.min.js"></script>
<script src="~/js/personal/AssignedUser.js"></script>